.location {
    padding-top: 140px;
    &__wrapper {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        width: 360px;
        height: 500px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        &:hover {
            box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.20);
        }
        &__img {
            width: 100%;
        }
    }
    &__descr {
        padding: 35px 27px 33px 27px;
        &__title {
            padding-top: 10px;
        }
    }
}